<div class="container">
  <div class="row">
    <h3>{{ title }}</h3>
  </div>
</div>
<app-form-task (newTaskEvent)="onSubmitTask($event)"></app-form-task>
<div class="container">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Task</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th scope="row">
          <input
            type="checkbox"
            [checked]="task.checked"
            (change)="(task.checked)"
          />
        </th>
        <td>{{ task.description }}</td>
        <td>{{ getDate(task.date) }}</td>
        <td>{{ getCategoryName(task.category) }}</td>
        <td>{{ getPriorityName(task.priority) }}</td>
      </tr>
    </tbody>
  </table>
  <td><i class="fas fa-trash-alt"></i></td>
  <td><i class="far fa-edit"></i></td>
</div>
