<div class="container d-flex justify-content-center">
  <div class="col-lg-8 border p-4 mt-4">
    <div class="row w-100">
      <div class="col-lg">
        <label class="text-white"><b>My task</b></label>
        <input
          type="text"
          class="form-control myForm"
          placeholder="Description"
          aria-label=""
          [(ngModel)]="inputTask"
        />
      </div>
    </div>
    <div class="row w-100">
      <div class="col-lg">
        <label class="text-minus">Date</label>
        <input
          type="date"
          class="form-control form-control-sm myForm"
          placeholder="date"
          aria-label=""
          [(ngModel)]="inputDate"
        />
      </div>
      <div class="col-lg">
        <label class="text-minus">Category</label>
        <select
          class="form-select form-select-sm myForm"
          aria-label="Category"
          [(ngModel)]="inputCategory"
        >
          <option
            [value]="category.value"
            *ngFor="let category of categories"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="col-lg">
        <label class="text-minus">Priority</label>
        <select
          class="form-select form-select-sm myForm"
          aria-label="Priority"
          [(ngModel)]="inputPriority"
        >
          <option
            [value]="priority.value"
            *ngFor="let priority of priorities"
          >
            {{ priority.name }}
          </option>
        </select>
      </div>
      <div class="col-lg">
        <button
          type="button"
          class="btn btn-sm add-btn w-100 mt-4"
          (click)="onSubmit()"
        >
        <i class="fas fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
