<section class="banner">
  <div class="container d-flex justify-content-end">
    <div class="row mold-form">
      <div class="brand-wrapper">
        <img
          src="../../../../../assets/images/logo-routine.svg"
          alt="logo"
          class="logo"
        />
      </div>
      <h2 class="login-card-description mt-4 mb-4">Sign into your account</h2>
      <form action="#" class="">
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-envelope text-brown"></i
            ></span>
            <input
              type="email"
              class="form-control myForm"
              placeholder="Email"
              [(ngModel)]="user.email"
              name="email"
              autocomplete="off"
            />
          </div>
  
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"
              ><i class="fa fa-lock text-brown"></i
            ></span>
            <input
              type="password"
              class="form-control myForm"
              placeholder="******"
              [(ngModel)]="user.password"
              name="password"
              autocomplete="off"
            />
          </div>
  
          <div class="form-group">
            <button class="btn btn-block login-btn mt-4" (click)="getLogin()">
              <span class="font-weight-bold">Login</span>
            </button>
          </div>
        </div>
      </form>
      <p class="login-card-footer-text mt-4">
        Don't have an account?
        <a href="http://localhost:4200/register" class="text-modify"
          >Register here</a>.</p>
    </div>
  </div>
</section>
